extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/") back to index

  br
  input(id="create-txt" type="text" class="bar" placeholder="task name pls" required)
  button(id="create-btn" type="button" class="button") create

  #todos-list

  script(src="/js/main.js")
