body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form input {
  display: block; /* Hace que los elementos ocupen toda la línea */
  margin-bottom: 10px; /* Añade un espacio entre los elementos */
}

.button {
  text-transform: uppercase;
}

.bar {
  padding: 10px;  
}


